<!-- extend from base layout -->
{% extends "base.html" %}

{% block content %}
<div class="container">
    <!-- Main hero unit for a primary marketing message or call to action -->
    <div class="hero-unit">
    <h1>Bem-vindo</h1>
    <p></p>
    <p></p>
    <p>Cadastre suas ideias, compartilhe-as e ganhe prêmios se aprovadas. Cadastrando uma ideia você pode ganhar <strong>um milhão de dólares</strong>. Senão quiser o prêmio em dinheiro, você pode pedir por sua <strong>tekpix</strong>.</p>
    
    </div>
</div>
{% endblock %}